# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin/
local.properties

# IDE
.idea/
*.iml
.vscode/
.fleet/

# Android
*.apk
*.aab
captures/
.externalNativeBuild/
.cxx/

# Kotlin/Native & Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.env.local
